[tool.poetry]
name = "dvh-airflow-kafka"
version = "0.0.1"
description = ""
authors = ["NAV DVH"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
kafka-python = "^2.0.2"
avro = "^1.11.0"
dateparser = "^1.1.1"
dataverk-vault = "^0.1.10"
PyYAML = "^6.0"
requests = "^2.28.1"
python-dotenv = "^0.20.0"
oracledb = "^1.4.1"
python-benedict = "^0.28.1"
google-api-python-client = "^2.100.0"
google-cloud-secret-manager = "^2.15.1"
confluent-kafka = "^2.0.2"


[tool.poetry.dev-dependencies]
black = "^22.6.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
python-schema-registry-client = "^2.4.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

# Pytest config
[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-ra -q"
pythonpath = "src"
testpaths = [
    "src/tests",
]
markers = [
    "unit: tests for custom transformations",
    "functional: tests for source/target interfaces",
    "integration: Integration tests",
]