[tool.poetry]
name = "dvh-airflow-kafka"
version = "0.0.1"
description = ""
authors = ["NAV DVH"]
license = "MIT"
packages = [
    { include = "src"},
]

[tool.poetry.dependencies]
python = "^3.9"
kafka-python = "^2.0.2"
avro = "^1.11.3"
dateparser = "^1.2.0"
dataverk-vault = "^0.1.10"
PyYAML = "^6.0"
requests = "^2.32.3"
python-dotenv = "^1.0.1"
oracledb = "^2.2.1"
python-benedict = "^0.33.2"
google-api-python-client = "^2.136.0"
google-cloud-secret-manager = "^2.20.0"
confluent-kafka = "^2.4.0"
pydantic = "^2.8.2"


[tool.poetry.dev-dependencies]
black = "^24.4.2"

[tool.poetry.group.dev.dependencies]
pytest = "^8.2.2"
python-schema-registry-client = "^2.6.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

# Pytest config
[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-ra -q"
pythonpath = "src"
testpaths = [
    "src/tests",
]
markers = [
    "unit: tests for custom transformations",
    "functional: tests for source/target interfaces",
    "integration: Integration tests",
]