# github actions
name: Publish to ghcr

on:
  push:
    branches:
      - main
      - feat**
    paths-ignore:
      - '**.md'
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  packages: write

env:
  IMAGE_NAME: "ghcr.io/${{ github.repository }}"
jobs:
  build:
    name: "build"
    runs-on: "ubuntu-latest"
    steps:

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: "Add sha to environment variable"
        env:
          FULL_SHA: "${{github.sha}}"
          REF: "${{github.ref}}"
        run: |
          TAG=$(git log -1 --pretty=%ad --date=format:%Y%m%d-%H%M%S)
          branch="$(echo "$REF" | cut -c12-)"
          if [ "$branch" = "main" ]
          then
              echo "IMAGE=$IMAGE_NAME:$TAG" >> $GITHUB_ENV
          else 
              safe_branch=$(echo "$branch" | sed 's/[^a-zA-Z0-9._-]/-/g')
              echo "IMAGE=$IMAGE_NAME-$safe_branch:$TAG" >> $GITHUB_ENV
          fi
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.1.1

      - name: Login to GitHub Docker Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
