# github actions
name: Publish to ghcr

on:
  pull_request:
    branches:
      - main
      - on-prem
  push:
    branches:
      - main
      - on-prem

env:
  IMAGE_NAME: "ghcr.io/${{ github.repository }}"
jobs:
  "build":
    name: "build"
    runs-on: "ubuntu-18.04"
    steps:
      - uses: actions/checkout@v3.0.2

      - name: "Add sha to environment variable"
        env:
          FULL_SHA: "${{github.sha}}"
          BRANCH: "${{github.ref}}"
        run: |
          sha=$(echo $FULL_SHA | cut -c1-7)
          if [ $BRANCH = refs/heads/main ]
          then
              echo "IMAGE=$IMAGE_NAME:$sha" >> $GITHUB_ENV
          elif [ $BRANCH = refs/heads/on-prem ]
          then
              echo "IMAGE=$IMAGE_NAME-on-prem:$sha" >> $GITHUB_ENV
          fi
      - name: Add pull request head sha to image environment variable
        if: ${{ github.event_name == 'pull_request' }}
        env:
          FULL_SHA: "${{github.event.pull_request.head.sha}}"
          BRANCH: "${{github.event.pull_request.base.ref}}"
        run: |
          sha=$(echo $FULL_SHA | cut -c1-7)
          if [ $BRANCH = main ]
          then
              echo "IMAGE=$IMAGE_NAME:RC-$sha" >> $GITHUB_ENV
          elif [ $BRANCH = on-prem ]
          then
              echo "IMAGE=$IMAGE_NAME-on-prem:RC-$sha" >> $GITHUB_ENV
          fi

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: "Login to GitHub Docker Registry"
        uses: "docker/login-action@v1"
        with:
          "registry": "ghcr.io"
          "username": "${{ github.actor }}"
          "password": "${{ secrets.GITHUB_TOKEN }}"

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE }}
          cache-from: type=gha
          cache-to: type=gha,mode=ma
