name: Python CI

on: [push, workflow_dispatch]

permissions:
  contents: read

env:
  PYTHON_VERSION: 3.12
  
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: Install test dependencies
        run: >
            python -m pip install --user uv
            && python -m uv venv

      - name: Install dependencies
        run: uv sync --all-extras --dev --frozen

      - name: Run tests
        run: uv run pytest -v src