name: Python CI

on: [push, workflow_dispatch]

permissions:
  contents: read

env:
  PYTHON_VERSION: 3.12
  
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Set up Python
        run: uv python install ${{ env.PYTHON_VERSION }}
      - name: Install dependencies
        run: uv sync --all-extras --dev
      - name: Run tests
        run: uv run pytest src